@font-face {
  font-family: "Amazon Ember";
  src: url("./fonts/Ember/AmazonEmber_Th.ttf");
  font-display: swap;
  font-weight: 100;
}

@font-face {
  font-family: "Amazon Ember";
  src: url("./fonts/Ember/AmazonEmber_ThIt.ttf");
  font-display: swap;
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Amazon Ember";
  src: url("./fonts/Ember/AmazonEmber_Lt.ttf");
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: "Amazon Ember";
  src: url("./fonts/Ember/AmazonEmber_LtIt.ttf");
  font-display: swap;
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Amazon Ember";
  src: url("./fonts/Ember/AmazonEmber_Rg.ttf");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Amazon Ember";
  src: url("./fonts/Ember/AmazonEmber_RgIt.ttf");
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Amazon Ember";
  src: url("./fonts/Ember/Amazon-Ember-Medium.ttf");
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: "Amazon Ember";
  src: url("./fonts/Ember/Amazon-Ember-MediumItalic.ttf");
  font-display: swap;
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Amazon Ember";
  src: url("./fonts/Ember/AmazonEmber_Bd.ttf");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Amazon Ember";
  src: url("./fonts/Ember/AmazonEmber_BdIt.ttf");
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Amazon Ember";
  src: url("./fonts/Ember/AmazonEmber_He.ttf");
  font-display: swap;
  font-weight: bold;
}

@font-face {
  font-family: "Amazon Ember";
  src: url("./fonts/Ember/AmazonEmber_HeIt.ttf");
  font-display: swap;
  font-weight: bold;
  font-style: italic;
}
html {
  margin: 0;
  width: 100vw;
  max-width: 100%;
}
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Amazon Ember", sans-serif;
  width: 100vw;
  text-align: center;
  max-width: 100%;
}
a {
  text-decoration: none;
}
